
extends ./layout

block body
  #application(data-base-url=baseUrl, data-api-url=apiUrl)
  #modal.hidden
    .modal-container
    .modal-content

  script(src=link('jquery-1.12.0.js'))
  script(src=link('async.js'))
  script(src=link('happy-day.js'))
  script(src=link('superagent.js'))
  script(src=link('smithsonian.js'))

