//- file.jade

extends ./layout

//- block head
//- 	link(href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700', rel='stylesheet', type='text/css')

block body
	.s-application
		section.s-section
			header.s-header
				h1 
					b #{s.name}
					span  / 
					b #{basename}

		form(method='post', action=link('file/'+basename))
			input(type='hidden', name='action', value='update')
			section.s-file-rename.s-section
				label 
					span File name
					input.textbox(name='filename', type='text', placeholder='Awesome Post Title Part 2', value=basename)

			section.s-file-update.s-section
				label 
					span File contents
					- var breaks = content.split('\n').length;
					textarea.textbox(name='content', rows=breaks, placeholder='Awesome Post Title Part 2')= content 
				input.btn.btn-primary(type='submit', value='Save Changes')

		section.s-section
			form(method='post')
				input.btn.btn-danger(type='submit', value='Permanently Delete this File')
				input(type='hidden', name='action', value='delete')

